body {
  background-color: #f3f2ef; /* Light gray background */
  font-family: 'Arial', sans-serif; /* Use a common font for better compatibility */
}

.card {
  border: 1px solid #ddd; /* Slightly thinner border */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  margin-bottom: 20px;
  width: 60%;
  background-color: #fff;
  margin-top: 2rem;
  margin-left: 2rem;
  overflow: hidden;
}

.btn-success {
  background-color: #0073b1; /* LinkedIn's primary color */
  color: #fff;
}

.card-header {
  margin-left: 15px; /* Add more margin */
  margin-top: 15px; /* Add more margin */
}

.card-body {
  padding: 15px; /* Add more padding */
}

.card-title {
  font-size: 1.5rem; /* Slightly larger font size */
  margin-bottom: 15px; /* Add more margin */
  color: #0073b1; /* LinkedIn's primary color */
}

.card-details {
  margin-bottom: 15px;
  flex: 1;
}

.card-details i {
  margin-right: 15px; /* Add more margin */
  color: #0073b1; /* LinkedIn's primary color */
}

.card-container {
  justify-content: center;
  align-items: center;
}

.transaction-details {
  float: right;
  display: flex;
  width: 100%;
  gap: 1.5rem; /* Adjust the gap */
}

.icon {
  font-size: 80px; /* Adjust the size */
  color: #0073b1; /* LinkedIn's primary color */
}

.button-links {
  display: flex;
  gap: 2rem; /* Adjust the gap */
  margin-bottom: 1rem; /* Adjust margin */
}

.nav-btn {
  display: flex;
  margin: 0;
  padding: 3px;
  gap: 2rem; /* Adjust the gap */
  height: auto;
}

.total-transactions {
  background-color: #f9f9f9; /* Lighter background */
  padding: 1.5rem; /* Add more padding */
}

.btn {
  margin-right: 1rem; /* Adjust margin */
}